
body {
    background-color: lightgray;


}


div.top {
    font-size: 74px;

    text-align: center;
    background-color: #FFE4C4;


}

div.top {
    position:absolute;
    left:0; right:0;
    height: 102px;
}
.left {
    position:absolute;
    left:0; top:102px; bottom: 0;
    width: 178px;
    padding: 17px;
    background-color: DarkSeaGreen;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
    padding: 17px;
}
